@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HBIOS-SYS';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/HBIOS-SYS.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KyoboHand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'drfont_daraehand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/drfont_daraehand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

p{
    margin: 0;
    padding: 0;
}
#camera{
    background: rgb(121 200 253 / 29%);
}

#camera, #camera--view, #camera--sensor, #camera--output{
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#camera--view, #camera--sensor, #camera--output{
    transform: scaleX(-1);
}
#camera--view{
    width: 90%;
    height: 80%;
    margin: 20px auto 0;
    border: 1px solid #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#camera--trigger{
    width: 275px;
    color: white;
    background-color: rgb(121, 200, 253);
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'galmuri11';
}

.taken {
    height: 65.5%!important;
    width: 82%!important;
    left: 50%;
    margin: 20px auto 0;
    transform: translateX(-50%) !important;
}
.templete{
    background: #fff;
    border: 1px solid #fff;
    width: 90%;
    height: 80%;
    margin: 20px auto 0;
    box-sizing: border-box;
    position: relative;
}
.btd_txt{
    font-family: 'Galmuri7';
    position: absolute;
    bottom: 4%;
    width: 100%;
    text-align: center;
    line-height: 18px;
}
.blind{
    display: none;
}
